@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  box-sizing: content-box;
}

@layer base {
  @screen sm {
    :root {
      font-size: 12px;
    }
  }

  @screen md {
    :root {
      font-size: 14px;
    }
  }

  @screen 2xl {
    :root {
      font-size: 18px;
    }
  }

  @screen 3xl {
    :root {
      font-size: 24px;
    }
  }

  @screen 4xl {
    :root {
      font-size: 32px;
    }
  }
}

/* Additional custom styles for .main-container */
@layer components {
  @screen sm {
    .main-container {
      padding: 6rem 2rem 2rem 2rem;
    }
  }
}
